body {
    text-align:center;
    background-color: #558C89;
}
.full-width-bar {
    width: 505px;
    background-color: #D9853B;
    margin: 0 auto;
}
.score-text{
    color: #ECECEA;
    font-family: 'Alfa Slab One', cursive;
    font-size: 48px;
    text-align: left;
    margin-left: .5cm;
}
/*
Colors:
#558C89 - Darker Blue
#74AFAD - Light Blue
#D9853B - Orange
#ECECEA - Beige
*/